.default-shadow() {
    box-shadow: 0 5px 25px rgba(0,0,0,0.08);
}
.default-transition() {
    .transition(all 200ms ease-in-out);
}
.transition(@content) {
    -ms-transition: @content;
    -moz-transition: @content;
    -webkit-transition: @content;
    transition: @content;
}
.word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
