@import '_mixins.less';

@default-font: 'Poppins', 'Helvetica', Arial, sans-serif;
@primary-color: #ef8787;
@default-color: #777;
@black-color: #777;

html, body {
    background: #f8f9fa;
    color: @default-color;
    font-family: @default-font;
    font-size: 14px;
}

// img
img {
    max-width: 100%;
    height: auto;
}

// .heading
.heading {
    margin-top: 0;
    margin-bottom: 30px;

    // .heading--mini-spacing
    &--mini-spacing {
        margin-bottom: 7.5px;
    }

    // .heading--lv1
    &--lv1 {

    }

    // .heading--lv2
    &--lv2 {
        color: @primary-color;
        font-size: 1.6em;
        font-weight: 700;
        text-transform: uppercase;
    }

    // .heading--lv3
    &--lv3 {
        color: @primary-color;
        font-size: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
    }

    // .heading--lv4
    &--lv4 {
        color: @black-color;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
    }
}

// .text-box
.text-box {
    margin-bottom: 40px;
}

// .logo
.logo {
    position: relative;

    // .logo__circle
    &__circle {
        display: inline-block;
        @circle-size: 175px;
        background: @primary-color;
        color: #fff;
        font-size: 20px;
        width: @circle-size;
        height: @circle-size;
        line-height: @circle-size;
        border-radius: @circle-size;
        text-align: center;
        margin-top: -50px;
        margin-bottom: -50px;
    }
}

// .header
.header {
    position: relative;
    background: @primary-color;
    .default-shadow();
    text-align: center;
    margin-bottom: 80px;

    // .header__notification
    &__notification {
        display: inline-block;
        padding: 21px;
        .default-transition();

        &:hover, &:focus {
            background: darken(@primary-color, 5%);
        }
    }
}

// .btn
.btn {
    border: 0;
    border-radius: 0;
    font-size: 0.875em;
    letter-spacing: 1px;
    padding: 15px 25px;
    text-transform: uppercase;
    .default-transition();
    &.btn-primary {
        background: @primary-color;
        &:hover, &:focus {
            background: darken(@primary-color,10%);
            outline: none;
            box-shadow: none;
        }
        &.disabled {
            opacity: 1;
            background: lighten(@primary-color,10%);
        }
    }
}

// .window
.window {
    position: relative;
    background: #fff;
    border-radius: 20px;
    padding: 50px;
    .default-shadow();

    // .window__action
    &__action {
        margin-bottom: -80px;
        text-align: center;
        .btn {
            padding: 20px;
            width: 225px;
            max-width: 100%;
        }
    }
}

// .form-row
.form-row {
    margin-bottom: 40px;
}

// .form-group
.form-group {
    position: relative;

    label {
        position: absolute;
        top: 0;
        padding: 8px 10px;
        text-transform: uppercase;
        font-size: 0.750em;
        font-weight: 400;
    }
    .form-control {
        box-shadow: none;
        border-radius: 0;
        border-color: #ccc;
        height: auto;
        padding: 27.5px 10px 7.5px;
        &:focus {
            border-color: #999;
        }
    }
}

// .checkbox-special
@checkbox-size: 20px;
@checkbox-fill-size: 3px;
.checkbox-special {
    margin: 0 auto 20px;
    position: relative;
    overflow: hidden;
    label {
        display: block;
        position: relative;
        padding-left: @checkbox-size + 10px;
        cursor: pointer;
        background: transparent;
        opacity: 1;
        margin: 0;
        font-weight: 400;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: @checkbox-size;
            height: @checkbox-size;
            border: 1px solid #aaa;
            opacity: 1;
            .transition(all ease-in-out 100ms);
        }
        &:after {
            content: '';
            position: absolute;
            top: @checkbox-fill-size;
            bottom: @checkbox-fill-size;
            left: @checkbox-fill-size;
            width: @checkbox-size - (@checkbox-fill-size * 2);
            background: @primary-color;
            opacity: 0;
            .transition(all ease-in-out 100ms);
        }

        &:hover, &:focus {
            &:before {
                border-color: @primary-color;
            }
        }
    }
    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:checked + label {
            &:before {
            }
            &:after {
                opacity: 1;
            }
        }
    }
}

// .file-browser
.file-browser {
    border-radius: 7px;
    background: #fafbfc;
    padding: 10px;
    margin-bottom: 30px;
}

// .file-list
.file-list {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
        margin: 0;
        padding: 0;
    }

    // .file-list__toggle
    &__toggle {
        cursor: pointer;
        text-decoration: underline;
    }

    // .file-list__row
    &__row {
        position: relative;
        display: flex;
        flex-direction: row;
        background: #fff;
        margin-bottom: 2px;

        &:after {
            content: '';
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 3px;
            background: @primary-color;
        }

        // .file-list__row--selected
        &--selected {
            &:after {
                display: block;
            }
        }
    }

    // .file-list__col
    &__col {
        padding: 12px 15px;
        // .file-list__col--checkbox
        &--checkbox {
            width: 50px;
            .checkbox-special {
                margin: 0;
            }
        }
        // .file-list__col--icon
        &--icon {
            width: 50px;
        }
        // .file-list__col--name
        &--name {
            flex: 2;
        }
        // .file-list__col--type
        &--type {
            flex: 1;
            text-align: right;
        }

        // .file-list__col--body-type
        &--body-type {
            color: #ccc;
            font-size: 0.75em;
            padding-top: 15px;
        }
        // .file-list__col--body-name
        &--body-name {
            font-size: 0.875em;
            padding-top: 15px;
            .word-wrap();
        }
    }
}

// .notification
@notification-width: 350px;
.notification {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -@notification-width;
    z-index: 10;
    opacity: 0;
    overflow-y: auto;
    width: @notification-width;
    max-width: 100%;
    background: #333;
    color: #e0e0e0;
    padding: 30px;
    .transition(all ease-out 300ms);

    // .notification--active
    &--active {
        right: 0;
        opacity: 1;
    }

    // .notification__close
    &__close {
        display: block;
        text-align: right;
        margin-bottom: 5px;
    }

    // .notification__close-button
    &__close-button {
        display: inline-block;
        background: #333;
        border: 0;
        box-shadow: none;
        color: rgba(255,255,255,0.6);
        padding: 5px;
        font-size: 0.875em;
        letter-spacing: 2px;
        .default-transition();

        &:hover, &:focus {
            color: #fff;
            outline: none;
            box-shadow: none;
        }
    }

    // .notification__progress
    &__progress {
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 8px;
        background: rgba(0,0,0,0.5);
        padding: 2px;
        margin-bottom: 30px;

        // .notification__progress__bar
        &__bar {
            font-size: 0;
            height: 100%;
            background: @primary-color;
            border-radius: 10px;
            .default-transition();
        }
    }

    // .notification__logs
    &__logs {
        .word-wrap();
    }

    // .notification__log
    &__log {
        position: relative;
        font-size: 0.80em;
        padding: 15px;
        background: rgba(0,0,0,0.2);
        border-radius: 5px;
        margin: 5px 0;
        opacity: 0;
        transform: translate(-60px);
        .transition(all ease-out 200ms);

        &:before {
            @bullet-size: 5px;
            content: '';
            position: absolute;
            top: 15px + (@bullet-size / 2);
            left: -(@bullet-size / 2);
            width: @bullet-size;
            height: @bullet-size;
            border-radius: @bullet-size;
            background: transparent;
        }

        // .notification__log--active
        &--active {
            opacity: 1;
            transform: translate(0);
        }

        // .notification__log--error
        &--error {
            &:before {
                background: #FF5252;
            }
        }

        // .notification__log--success
        &--success {
            &:before {
                background: #00E676;
            }
        }

        code {
            background: rgba(0,0,0,0.5);
            color: @primary-color;
        }

        span {
            color: #FFB74D;
        }
    }
}
